@using ITSM.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @(User.Identity.IsAuthenticated ? User.Identity.Name : "Guest")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ITSMSystem.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header>
    <style>
        body {
            padding-top: 60px;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow fixed-top">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand ms-3" asp-area="" asp-controller="Home" asp-action="Index">
                    @ViewData["UserName"]
                </a>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth"
                               asp-action="Logout">Logout <i class="bi bi-door-open"></i></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="d-flex" id="sidebar">
            <!-- Sidebar -->
            <div class="sidebar bg-light position-fixed top-0 start-0 vh-100 p-3" style="width: 250px;">
                <h5 class="mb-4">Menu</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-house"></i> Home
                        </a>
                    </li>

                    @if (User.IsInRole(nameof(UserRoles.User)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserTicket" asp-action="CreateTicket">
                                <i class="bi bi-file-earmark-plus"></i> Create Ticket
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserTicket" asp-action="UserTicketsList">
                                <i class="bi bi-card-text"></i> My Tickets
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(nameof(UserRoles.Technician)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdminTicket" asp-action="AllTicketsList">
                                <i class="bi bi-bug"></i> My tasks
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(nameof(UserRoles.Admin)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserManagement" asp-action="UsersList">
                                <i class="bi bi-people"></i> Users Management
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TicketCategory" asp-action="CategoryList">
                                <i class="bi bi-tags"></i> Category Management
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(nameof(UserRoles.Coordinator)))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TicketAssignment" asp-action="ReviewTickets">
                                <i class="bi bi-journals"></i> Ticket Assignment
                            </a>
                        </li>
                    }
                </ul>
            </div>

          
        </div>
    }

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - ITSM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>