@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ITSM.ViewModels.TicketCreateViewModel

@{
    ViewData["Title"] = "Створити заявку";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateTicket" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Категорія</label>
        <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
            <option value="">Виберіть категорію</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Створити</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}