@model ITSM.ViewModels.Create.DiscussionCreateViewModel

<h2 class="text-center mb-4">Create Discussion</h2>

<div class="bg-light p-4 rounded shadow-sm mx-auto" style="max-width: 600px;">
    <!-- Форма для создания обсуждения -->
    <form method="post">
        <div class="form-floating">
            <select asp-for="CategoryId" class="form-select">
                <option value="">Select Category</option>
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.Value">@cat.Text</option>
                }

            </select>
            <label>Category</label>
        </div>
 
        <div class="form-floating mb-3">
            <input asp-for="Title" class="form-control" placeholder="Title" required />
            <label asp-for="Title">Title</label>
        </div>

        <div class="form-floating mb-3">
            <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px;" required></textarea>
            <label asp-for="Description">Description</label>
        </div>

        <button type="submit" class="btn btn-outline-primary w-100">Create</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(".form-control");

        inputs.forEach(input => {
            input.addEventListener("input", function () {
                this.classList.toggle("is-invalid", !this.checkValidity());
                this.classList.toggle("is-valid", this.checkValidity());
            });
        });
    });
</script>
